<div class="search-bar">
    {{ form_start(form, {'action' : path('photo_search'), 'method' : 'POST'}) }}
    {{ form_widget(form.title) }}
    <button type="submit">Rechercher</button>
    {{ form_end(form) }}
</div>